.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    margin-top: 70px;
    margin-left: 30%;
    margin-bottom: 100px;
}

input, textarea {
    padding-left: 7px;
}

button {
    background-color: #F9F9F9;
    color: #2A254B;
    border: 1px solid midnightblue;
    transition: 300ms ease;
}

button:hover {
    background-color: midnightblue;
    color: white;
   
}