.basket {
    
    &-wrapper {
        margin: 84px 80px 84px 80px;        
        background-color: #FFFFFF;
        &_item {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 30px;
            
            &-img {
                width: 109px;
                height: 134px;
                margin-top: 15px;
            }
            &-container {
                margin-top: 15px;
                width: 400px;
            }
            &-title {
                font-size: 20px;
                line-height: 1.4;
            }
            &-text {
                font-size: 14px;
                line-height: 1.5;
                text-align: justify;
            }
            &-price {
                font-size: 16px;
                line-height: 1.5;
                margin-top: 15px;
            }
        }
        &_btn {
            margin-left: 40%;
            margin-top: 50px;
            background-color: #2A254B;
            color: #FFFFFF;
            transition: 300 ease;
        }  
        &_btn:hover {
            background-color: #FFFFFF;
            color: #2A254B;
            border: 1px solid #2A254B;
        }      
    }
}