.features {
  &-title {
    padding-top: 88px;
    text-align: center;
  }
  &-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 82px;
    gap: 20px;
  }
  &-item {
    box-sizing: border-box;
    width: 305px;
    height: fit-content;
    background-color: #f9f9f9;
    padding: 48px;
    &_icon {
      width: 24px;
      height: 24px;
    }
    &_title {
      font-weight: 400;
      font-size: 20px;
      padding-top: 12px;
    }
    &_text {
      font-size: 16px;
      padding-top: 12px;
    }
  }
}

.features2 {
  height: fit-content;
  &-wrapper {
    margin: 60px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    &_item {
      width: 634px;
      height: 478px;
      background-color: #2a254b;
      padding-top: 64px;
      padding-left: 64px;
      color: #ffffff;
      &-text {
        margin-top: 12px;
        margin-bottom: 205px;
        margin-right: 75px;
      }
      &-btn {
        width: 170px;
        height: 56px;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        background-color: #4e4d93;
        transition: 300ms ease;
      }

      &-btn:hover {
        background-color: #ffffff;
        color: #4e4d93;
      }
    }
    &_item2 {
      width: 630px;
      box-sizing: border-box;
      background-image: url("/src/assets/images/features2-background-image.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
