.footer {
    height: fit-content;
    background-color: #2A254B;
    color: #FFFFFF;
    &-wrapper {
        display: flex;
        justify-content: center;
        padding: 58px 0 147px 0;
        gap: 109px;
        &_item {
            &-title {
                font-size: 16px;
                line-height: 19.68px;
            }
            &-text {
                font-size: 14px;
                margin-top: 12px;
                color: #FFFFFF;
            }
            &-form {
                padding-top: 16px;
    
            }
            &-input {
                border: 0;
                background-color: #4E4D93;
                color: #FFFFFF;
                width: 477px;
                height: 58px;
                padding-left: 32px;
                font-size: 16px;
                font-weight: 400;
            }
            &-btn {                
                width: 118px;
                height: 59px;
                background-color: #FFFFFF;
                color: #2A254B;
                border: 0;                
                transition: 300ms ease;
            }

             &-btn:hover {
                background-color: #4e4d93;
                color: #FFFFFF;
                border: 3px solid #FFFFFF;
            }
        }

    }
    &-bottom {
        width: 1277px;
        border-top: 1px solid #4E4D93;
        padding-bottom: 22px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        &_left {
            padding-top: 24px;
            &-text {
                font-size: 14px;
            }
        }
        &_right {         
            &-icons {
               padding-left: 12px;       
            }
        }
    }
}