button {
    transition: 300ms ease;
    }
button:hover {
        background-color: #2A254B;
        color: #F9F9F9;
}

.products {

    &-header {
        width: 100%;
        height: fit-content;
        background-image: url("/../knew-it-final-project/src/assets/images/products-header-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        
        &_title {
            font-size: 36px;
            padding: 123px 0 36px 115px;

            color: #FFFFFF;
        }
    }
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: 80px;
        gap: 20px;
        &_1 {
            height: 500px;
            overflow: hidden;
        }
        
    }
    &-item {
        margin-top: 28px;
        align-items: left;
        &_img {
            width: 305px;
            height: 375px;
            margin-bottom: 24px;
        }
        &_title {
            font-size: 24px;
            line-height: 140%;
            color: #2A254B
        }
        &_price {
            margin-top: 8px;
            line-height: 27px;
            color: #2A254B;
        }
        &_button {
            background-color: #F9F9F9;
            color: #2A254B;
            transition: 300ms ease;
        }
        &-button {
            background-color: #2A254B;
            color: #F9F9F9;
        }

    }
    &-buttons {
        text-align: center;
        margin-top: 48px;
        margin-bottom: 40px;
    }
}